
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(255, 255, 255, 1);

;
}


/****** menu navigation ******/

header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 79px; 
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 50px 30px 50px;
}

nav img {
    width: 62px;
    height: auto;
}

nav a {
    margin-left: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 68px;       
    flex-wrap: wrap;
    height: 35px;
    padding: 0 50px 0 50px;    
}

.cta {
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.cta:hover {
    color:#0065FC;
    border-top: #0065FC 2px solid;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Main content ******/

.main-content {
    width: 100%;
    max-width: 1340px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: auto;
}

/****** Titre et form ******/

.menu {
    max-width: 1340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title h1 {
    font-size: 22px;
    margin: 0;
}

.title p {
    font-size: 16px;
    margin: 0;
}

.recherche{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    max-width: 377px;
    width: 100%;
    overflow: hidden;
}

.recherche i {
    color: rgb(0, 0, 0);
    background-color: #F2F2F2;
    min-width: 50px;
    height: 49px;
    display: flex;                
    align-items: center;          
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;      
}

.recherche button {
    background-color: #0065FC;
    color: #f9f7f7;
    border:#0065FC;
    font-size: 18px;
    padding: 15px 16px 15px 16px;
    cursor: pointer;
    font-weight: 700;
}

  .recherche button i {
  display: none;
    }

.recherche input[type=search]{
    font-size: 18px;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    font-weight: 700;
}

/****** filtres ******/

.filtres {
    display:flex;
    gap: 15px;
}

.filtres h2{
    font-size: 18px;
    font-weight: 700;
}

.boutons-filtres {
    display: flex;
    flex-direction: row;
    gap:15px;
}

.filtre {
    color: #000000;
    background: #FFFFFF;
    border-radius: 25px;
    border: #D9D9D9 2px solid;
    padding: 4px 19px 4px 19px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


.filtre:hover {
    background-color:#DEEBFF;
}

.icone-bouton {
    font-size: 22px;
}

/****** infos ******/

.info {
    /*padding-top: 10px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #0065FC;
    width: 24px;
    height: 24px;
    font-size: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1340px;
    height: auto;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    font-size: 22px;
    margin: 0;
}

.voir-plus {
    font-weight: 700;
    font-size: 18px;
}

/****** Card ******/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    height: auto;
    margin: auto;
    padding: 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1.5;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
    height: auto;
    padding: 0;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    
}

.populaires-cards img {
    width: 33%;
    max-width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1.5;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*


/****** Activités Populaires ***********/

.activites-populaires {
    width: 100%;
    max-width: 1340px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    width: 100%;
}

.activites-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
    max-width: 1280px;
    height: auto;
}

.activites-card .card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.activites-card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-card .card-txt {
   
   padding: 20px 19px 20px 19px;
}

/****** Footer ******/

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 163px;
    height: 100%;
}

.footer-content {
    width: 100%;
    max-width: 1340px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    max-height: 163px;
    height: 100%;
    flex: 1;
}

h3 {
    margin: 0;
    font-size: 18px;
}
